$color0_bg: #282828;
$color1_red: #cc241d;
$color2_green: #98971a;
$color3_yellow: #e6b77b;
$color4_blue: #458588;
$color5_purple: #b16286;
$color6_aqua: #689d6a;
$color7_gray: #a89984;
$color8_gray_alt: #928374;
$color9_red: #fb4934;
$color10_green: #b8bb26;
$color11_yellow: #fed078;
$color12_blue: #83a598;
$color13_purple: #d3869b;
$color14_aqua: #8ec07c;
$color15_fg: #ebdbb2;

$color_bg0_hard: #1d2021;
$color_bg0: #282828;
$color_bg0_soft: #32302f;
$color_bg1: #3c3836;
$color_bg2: #504945;
$color_bg3: #665c54;
$color_bg4: #7c6f64;

$color_fg0_hard: #f9f5d7;
$color_fg0: #fbf1c7;
$color_fg0_soft: #f2e5bc;
$color_fg1: #ebdbb2;
$color_fg2: #d5c4a1;
$color_fg3: #bdae93;
$color_fg4: #a89984;
